:root {
  --primary-color: #609BFD;
  --alert-color: #EC7DA2;
  --warning-color: #FFF488;
  --light-color: #FFFFFF;
  --dark-color: #151B21;
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Exo', sans-serif;
}
